body{
  background-color: rgb(248, 248, 248);
  margin: 0px;
}

.document{
  font-family: arial;
  font-size: 14px;
  max-width: 700px;
  margin: auto;
}

h1{
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 20px;
}
h2{
  border-bottom: solid 1px rgb(231, 150, 85);
  font-size: 16px;
}

//HEADER
$headerHeight: 6vh;
header {
  display: flex;
  justify-content: space-between;
  height: $headerHeight;
  background-color: white;

  a{
    margin-top: auto;
    margin-bottom: auto;
  }

  a img {
    max-height: 30px;
    max-width: 300px;
    align-self: center;
  }

  button {
    background:none;
    border:none;
  }

  div {
    align-self: center;
    :first-child {
      white-space:pre-line;
    }

    .year {
      font-size: 35px;
      font-weight: bold;
      color: rgb(231, 150, 85);
    }
  }
}


//*********//
//SECTION 1//
//*********//
.subcategory__1 {
    .subtitle{
      margin: 0;
      margin-left: 5px;
      margin-right: 5px;
    }

    ul{
      width: 100%;
      list-style-type: none;
      padding-left: 0px;
      font-size: 14px;
    }

    .download{
      color: rgb(231, 150, 85);
      border: solid 1px rgb(231, 150, 85);
      display: flex;
      margin-left: auto;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 10px;
      background-color: rgba(0, 0, 0, 0);
    }

    .download p:last-child{
      margin-left: 5px;
      font-size: 12px;
    }
    .download svg{
      margin-right: 5px;
    }
}
//*********//
//DROP MENU//
//*********//
.drop-menu{

  padding: 0;

  li{
    background-color: white;
    margin-bottom: 2px;
    align-items: center;
    list-style: none;
  }

  .weight{
    margin-left: auto;
    margin-right: 10px;
  }

  .menu{
    //margin: 0px;
    margin-left: 10px;
    flex-grow: 1;
    //max-width: 200px;
  }

  label{
    margin-right: 10px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .select{
    position: relative;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .polygone, .polygone-drop-down{
    opacity: 0.39;
  }

  .bar {
    display: none;
    position: absolute;
    top: 17.5px;
    left: 9px;
  }

  .arrow{
    display:none;
  }

  .arrow-drop-down{
    display:none;
    position: absolute;
    top: 13px;
    left: 6px;
  }

  .checkbox_toggler:checked .chevron{
    display: none;
  }

  .checkbox_toggler:checked ~ label .polygone {
    opacity: 1;
  }

  .checkbox_toggler:checked ~ label .chevron-down {
  	transform: rotate(90deg);
    transform-origin: 80% 50%;
  }
  .checkbox_toggler:checked ~ label .arrow {
    display: block;
    position: absolute;
    top: 13px;
    left: 6px;
  }

  .checkbox_toggler:checked ~ label .sub-menu__arrow {
    display: block;
    position: absolute;
    top: 9px;
    left: 4.4px;
  }

  .checkbox_toggler{
      display: none;
  }

  .sub-menu{
    display: none;
    background-color: rgb(248, 248, 248);
  }

  .sub-menu, .sub-menu ul, .sub-menu li{
    background-color: rgb(248, 248, 248);
  }

  .checkbox_toggler:checked ~ .sub-menu{
    display: block;
  }

  .sub-menu__menu{
    margin: 0px;
    margin-left: 30px;
    flex-grow: 1;
    max-width: 200px;
  }

  .sub-menu__weight{
    margin-top: 0;
    margin-bottom: 0;
  }
}

//CHEVRON
.chevron{
  padding-left: 10px;
}
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
  border-color: rgb(231, 150, 85);
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	vertical-align: top;
	width: 0.45em;
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.arrow-down{
  transform: rotate(90deg);
  transform-origin: 80% 50%;
}


//*********//
//SECTION 2//
//*********//
.subcategory__2 {
    .ad{
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;

      figure{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
      }
      figcaption{
          width: 180px;
      }

      figcaption p:first-child{
        color: rgb(231, 150, 85);
        margin: 0;
      }

      figcaption p:nth-child(2){
        margin: 0;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    img{
      margin: auto;
    }
}

//*********//
//SECTION 3//
//*********//
.subcategory__3{
    .drop-menu__content{
      //margin-right: 10px;
      display: flex;
      align-items: center;
      width: 100%;
      vertical-align: middle;
  }
}

.button_dl{
  background-color: transparent;
  border: 0;
  padding: 0px;
  text-align: left;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

button, label{
  cursor: pointer
}











@media screen and (max-width : 600px) {
  .show_on_mobile {
    display:block;
  }
  .show_on_desktop{
    display:none;
  }
  header{
      div{
        margin-right: 5px;
      }
  }
}
@media screen and (min-width : 600px) {
  .show_on_mobile {
    display:none;
  }
  .show_on_desktop{
    display:block;
  }
  header{
    img {
        margin-left: 10px;
      }
      div{
        margin: 5px;
      }
  }
}
@media screen and (max-width : 700px) {
  header{
    padding-top: 5px;
  }
  h1{
    padding-left: 5px;
  }
  h2{
    padding-left: 5px;
  }
}
