// sass --watch assets/scss/index.scss:assets/css/index.css
// https://specificity.keegan.st/

$headbandHeight: 8vh;
$headerHeight: 6vh;

button {
    background: none;
    border: none;
    cursor: pointer;
}

body {
    font-family: arial;
    margin: 0;

}

#headband {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #103084;
        color: white;
        height: $headbandHeight;
        padding-left: 15px;
        padding-right: 15px; // max-height: 55px; PB : causes a blank bottom margin

        p {
            margin: 0;
            font-size: 9px;
        }

        img {
            border: solid #284591;
            border-radius: 50%;
            padding: 7px;
        }
    }

header {
    display: flex;
    justify-content: space-between;
    height: $headerHeight;

    #burgerbutton {
        display:none;
    }

    div {
        display: flex;
        align-self: center;
        flex-direction: column;

        :first-child {
            display:none;
        }

        .year {
            font-size: 35px;
            font-weight: bold;
        }
    }
}

main {
    // background-url fixed in meadia query
    // width: 100vw;
    height: calc(100vh - ( #{$headbandHeight} + #{$headerHeight} ) );

    section {
        nav {

            display:none;
            ul {
                margin: 0;
                list-style-type: none;
                color: #FFF;
                margin-left: 4vw;
                font-weight: bold;
                font-size: 41px;
            }
        }

        .polygonbox {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            svg {
                transform: rotate(90deg);
            }
        }

        .polygon1 {
            transform: translate(0%, 9%);

            &:hover path {
                fill-opacity: 1;
                fill: #f4887e;
            }
        }

        .polygon2 {
            transform: translate(-14%, 52%);

            &:hover path {
                fill-opacity: 1;
                fill: #98c67f;
            }
        }

        .polygon3 {
            transform: translate(0%, -5%);

            &:hover path {
                fill-opacity: 1;
                fill: #5a8fa6;
            }
        }

        .polygon4 {
            transform: translate(-14%, 38%);

            &:hover path {
                fill-opacity: 1;
                fill: #fcc04b;
            }
        }

        .polygon5 {
            &:hover path {
                fill-opacity: 1;
                fill: #a69d57;
            }
        }

        .polygon6 {
            &:hover path {
                fill-opacity: 1;
                fill: #98c67f;
            }
        }

        .polygon7 {
            &:hover path {
                fill-opacity: 1;
                fill: #e79655;
            }
        }
    }
}

.polygons {
    z-index: 1;
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        width: 70%;
        z-index: 1;

        img {
            width: 20px; // display:none;
            align-self: center;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.2s linear;
        }
    }

    &:hover img {
        // display:block;
        visibility: visible;
        opacity: 1;
    }

    path {
        stroke: rgb(255, 255, 255);
        stroke-width: 2.031px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        fill-opacity: 0.251;
        fill: rgb(41, 41, 41);
        transition: 0.3s;
    }
}

.hide_on_desktop {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#mobilefooter {
    background-color: black;
    width: 43px;
}

#basicfooter {
    color: white;
}

.middlepart, .rightpart {
    opacity: 0.6;
}

.leftpart {
    background-color: #232321;
    padding: 15px;

    img {
        width: 18px;
    }

    &:nth-child(2) {
        color: grey;
    }

    p {
        margin: 0;
        text-align: center;
    }
}

.middlepart {
    p {
        align-self: center;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.rightpart {
    margin: 9px;

    p {
        margin-bottom: 8px;
    }

    .socialmedia_icons {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;

        img {
            opacity: 0.6;
        }
    }
}

.icons {
    color: white;
    text-decoration: none;
}

.icons::after {
    content: " | ";
    white-space: pre-wrap;
    color: darkgrey;
}
