// sass --watch assets/scss/index.scss:assets/css/index.css

$headbandHeight: 8vh;
$headerHeight: 6vh;

body {
  font-family: arial;
  margin:0;

  #headband {
    display: flex;
    padding: 2%;
    align-items: center;
    background-color: #103084;
    color:white;
    height: $headbandHeight;
    // max-height: 55px; PB : causes a blank bottom margin

    img {
      border: solid #284591;
      border-radius: 50%;
      padding: 7px;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  height: $headerHeight;

  img {
    max-height: 30px;
    max-width: 300px;
    align-self: center;
  }

  button {
    background:none;
    border:none;
  }

  div {
    align-self: center;
    :first-child {
      white-space:pre-line;
    }

    .year {
      font-size: 35px;
      font-weight: bold;
    }
  }
}


main {

  // background-url fixed in meadia query
  width: 100vw;
  height: calc(98vh - ( #{$headbandHeight} + #{$headerHeight} ) );

  section {
    nav {
      ul {
        margin:0;
        list-style-type: none;
        color:#FFF;
        margin-left: 4vw;
        font-weight: bold;
        font-size: 41px;
      }
    }


  .polygonbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 122vh;

    svg {
      transform: rotate(90deg);
    }


  }


  .polygon1 {
    transform: translate(0%, 9%);

    &:hover img {
      display:block;
    }
    &:hover path {
      fill-opacity:1;
      fill: #f4887e;
    }

  }

  .polygon2 {
    transform: translate(-14%, 52%);
    // transform: translate(-16%, 25%);
    &:hover img {
      display:block;
    }
    &:hover path {
      fill-opacity:1;
      fill: #98c67f;
    }
  }

  .polygon3 {
    transform: translate(0%, -5%);
    // transform: translate(-192%, 57%);
    &:hover img {
      display:block;
    }
    &:hover path {
      fill-opacity:1;
      fill: #5a8fa6;
    }
  }

  .polygon4 {
    transform: translate(-14%, 38%);
    &:hover img {
      display:block;
    }
    &:hover path {
      fill-opacity:1;
      fill: #fcc04b;
    }
  }
  }
}

.polygons {
    z-index:1;
    width: 42%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      position:absolute;
      text-decoration: none;
      color:white;
      font-weight: bold;
      width: 70%;
      text-align: center;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

        img {
          width: 20px;
          display:none;
          align-self: center;
        }
    }

    path {
      stroke:rgb(255, 255, 255);
      stroke-width:2.031px;
      stroke-linecap:butt;
      stroke-linejoin:miter;
      fill-opacity:0.251;
      fill:rgb(41, 41, 41);
      transition:.3s;

    }
  }

.hide_on_desktop {
  display:none;
}

#mobilefooter {
  background-color: black;
  margin-top: -41px;
  width: 43px;
}

#basicfooter {
  color: lightgrey;
  // display-flex is triggered by media query
  justify-content: space-between;
  align-items: flex-end;
  // height: 63px;
  margin-top: -72px;
}

.leftpart {
  background-color: #232321;
  padding: 15px;

  img {
    width:18px
  }

  p {
    margin:0;
  }
}

.middlepart {

  p {
    align-self: center;
    margin:0;
  }
}

.rightpart {
  p {
    margin:0;
  }

  .socialmedia_icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

}

.icons {
  color:white;
  text-decoration:none;
}

.icons::after {
  content:" | ";
  white-space: pre-wrap;
}

@media screen and (max-width : 600px) {
  main {
    background: url(../images/image_home_mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hide_on_mobile {
    display:none;
  }
  .hide_on_desktop {
    display:flex;
  }
}

// On small and medium screens
@media screen and (max-width: 900px) {
  .hide_on_mobile_and_tablets {
    display:none;
  }

}

// On medium screeens only
@media screen and (min-width : 601px) and (max-width : 899px) {
  .polygon4 {
    transform: translate(0%, -25%)!important;

  }
}

// On large screens only
@media screen and (min-width : 601px) {
  main {
    background: url(../images/image_home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  main section .polygonbox svg {
    transform: rotate(0);
  }

  .polygons {
    transform: translate(0%, 0%)!important;
  }

  #basicfooter {
    display:flex;
  }
}

// on large screens only
@media screen and (min-width : 901px) {
  .hide_on_mobile_and_tablets {
    display:flex;
    transform: translate(50%, -25%)!important;
  }
}
