body {
  background-color: #f8f8f8;
  margin: 0px; }

.document {
  font-family: arial;
  font-size: 14px;
  max-width: 700px;
  margin: auto; }

h1 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 20px; }

h2 {
  border-bottom: solid 1px #e79655;
  font-size: 16px; }

header {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  background-color: white; }
  header a {
    margin-top: auto;
    margin-bottom: auto; }
  header a img {
    max-height: 30px;
    max-width: 300px;
    align-self: center; }
  header button {
    background: none;
    border: none; }
  header div {
    align-self: center; }
    header div :first-child {
      white-space: pre-line; }
    header div .year {
      font-size: 35px;
      font-weight: bold;
      color: #e79655; }

.subcategory__1 .subtitle {
  margin: 0;
  margin-left: 5px;
  margin-right: 5px; }
.subcategory__1 ul {
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
  font-size: 14px; }
.subcategory__1 .download {
  color: #e79655;
  border: solid 1px #e79655;
  display: flex;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  background-color: transparent; }
.subcategory__1 .download p:last-child {
  margin-left: 5px;
  font-size: 12px; }
.subcategory__1 .download svg {
  margin-right: 5px; }

.drop-menu {
  padding: 0; }
  .drop-menu li {
    background-color: white;
    margin-bottom: 2px;
    align-items: center;
    list-style: none; }
  .drop-menu .weight {
    margin-left: auto;
    margin-right: 10px; }
  .drop-menu .menu {
    margin-left: 10px;
    flex-grow: 1; }
  .drop-menu label {
    margin-right: 10px;
    display: flex;
    align-items: center;
    width: 100%; }
  .drop-menu .select {
    position: relative;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px; }
  .drop-menu .polygone, .drop-menu .polygone-drop-down {
    opacity: 0.39; }
  .drop-menu .bar {
    display: none;
    position: absolute;
    top: 17.5px;
    left: 9px; }
  .drop-menu .arrow {
    display: none; }
  .drop-menu .arrow-drop-down {
    display: none;
    position: absolute;
    top: 13px;
    left: 6px; }
  .drop-menu .checkbox_toggler:checked .chevron {
    display: none; }
  .drop-menu .checkbox_toggler:checked ~ label .polygone {
    opacity: 1; }
  .drop-menu .checkbox_toggler:checked ~ label .chevron-down {
    transform: rotate(90deg);
    transform-origin: 80% 50%; }
  .drop-menu .checkbox_toggler:checked ~ label .arrow {
    display: block;
    position: absolute;
    top: 13px;
    left: 6px; }
  .drop-menu .checkbox_toggler:checked ~ label .sub-menu__arrow {
    display: block;
    position: absolute;
    top: 9px;
    left: 4.4px; }
  .drop-menu .checkbox_toggler {
    display: none; }
  .drop-menu .sub-menu {
    display: none;
    background-color: #f8f8f8; }
  .drop-menu .sub-menu, .drop-menu .sub-menu ul, .drop-menu .sub-menu li {
    background-color: #f8f8f8; }
  .drop-menu .checkbox_toggler:checked ~ .sub-menu {
    display: block; }
  .drop-menu .sub-menu__menu {
    margin: 0px;
    margin-left: 30px;
    flex-grow: 1;
    max-width: 200px; }
  .drop-menu .sub-menu__weight {
    margin-top: 0;
    margin-bottom: 0; }

.chevron {
  padding-left: 10px; }

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  border-color: #e79655;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  vertical-align: top;
  width: 0.45em;
  left: 0;
  transform: rotate(45deg); }

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg); }

.arrow-down {
  transform: rotate(90deg);
  transform-origin: 80% 50%; }

.subcategory__2 .ad {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center; }
  .subcategory__2 .ad figure {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center; }
  .subcategory__2 .ad figcaption {
    width: 180px; }
  .subcategory__2 .ad figcaption p:first-child {
    color: #e79655;
    margin: 0; }
  .subcategory__2 .ad figcaption p:nth-child(2) {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px; }
.subcategory__2 img {
  margin: auto; }

.subcategory__3 .drop-menu__content {
  display: flex;
  align-items: center;
  width: 100%;
  vertical-align: middle; }

.button_dl {
  background-color: transparent;
  border: 0;
  padding: 0px;
  text-align: left;
  font-size: 14px;
  text-decoration: none;
  color: black; }

button, label {
  cursor: pointer; }

@media screen and (max-width: 600px) {
  .show_on_mobile {
    display: block; }

  .show_on_desktop {
    display: none; }

  header div {
    margin-right: 5px; } }
@media screen and (min-width: 600px) {
  .show_on_mobile {
    display: none; }

  .show_on_desktop {
    display: block; }

  header img {
    margin-left: 10px; }
  header div {
    margin: 5px; } }
@media screen and (max-width: 700px) {
  header {
    padding-top: 5px; }

  h1 {
    padding-left: 5px; }

  h2 {
    padding-left: 5px; } }

/*# sourceMappingURL=document.css.map */
