body {
  font-family: arial;
  margin: 0; }
  body #headband {
    display: flex;
    align-items: center;
    background-color: #103084;
    color: white;
    height: 8vh; }
    body #headband p {
      margin: 0; }
    body #headband img {
      border: solid #284591;
      border-radius: 50%;
      padding: 7px; }

header {
  display: flex;
  justify-content: space-between;
  height: 6vh; }
  header img {
    max-height: 30px;
    max-width: 300px;
    align-self: center; }
  header button {
    background: none;
    border: none; }
  header div {
    align-self: center; }
    header div :first-child {
      white-space: pre-line; }
    header div .year {
      font-size: 35px;
      font-weight: bold; }

main {
  height: calc(100vh - ( 8vh + 6vh ) ); }
  main section nav ul {
    margin: 0;
    list-style-type: none;
    color: #FFF;
    margin-left: 4vw;
    font-weight: bold;
    font-size: 41px; }
  main section .polygonbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    main section .polygonbox svg {
      transform: rotate(90deg); }
  main section .polygon1 {
    transform: translate(0%, 9%); }
    main section .polygon1:hover img {
      display: block; }
    main section .polygon1:hover path {
      fill-opacity: 1;
      fill: #f4887e; }
  main section .polygon2 {
    transform: translate(-14%, 52%); }
    main section .polygon2:hover img {
      display: block; }
    main section .polygon2:hover path {
      fill-opacity: 1;
      fill: #98c67f; }
  main section .polygon3 {
    transform: translate(0%, -5%); }
    main section .polygon3:hover img {
      display: block; }
    main section .polygon3:hover path {
      fill-opacity: 1;
      fill: #5a8fa6; }
  main section .polygon4 {
    transform: translate(-14%, 38%); }
    main section .polygon4:hover img {
      display: block; }
    main section .polygon4:hover path {
      fill-opacity: 1;
      fill: #fcc04b; }
  main section .polygon5:hover img {
    display: block; }
  main section .polygon5:hover path {
    fill-opacity: 1;
    fill: #a69d57; }
  main section .polygon6:hover img {
    display: block; }
  main section .polygon6:hover path {
    fill-opacity: 1;
    fill: #98c67f; }
  main section .polygon7:hover img {
    display: block; }
  main section .polygon7:hover path {
    fill-opacity: 1;
    fill: #e79655; }

.polygons {
  z-index: 1;
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .polygons div {
    position: absolute;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 70%;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .polygons div img {
      width: 20px;
      display: none;
      align-self: center; }
  .polygons path {
    stroke: white;
    stroke-width: 2.031px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    fill-opacity: 0.251;
    fill: #292929;
    transition: .3s; }

.hide_on_desktop {
  display: none; }

#mobilefooter {
  background-color: black;
  margin-top: -41px;
  width: 43px; }

#basicfooter {
  color: lightgrey;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -72px; }

.leftpart {
  background-color: #232321;
  padding: 15px; }
  .leftpart img {
    width: 18px; }
  .leftpart p {
    margin: 0; }

.middlepart p {
  align-self: center;
  margin: 0; }

.rightpart p {
  margin: 0; }
.rightpart .socialmedia_icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }

.icons {
  color: white;
  text-decoration: none; }

.icons::after {
  content: " | ";
  white-space: pre-wrap; }

@media screen and (max-width: 600px) {
  main {
    background: url(../images/image_home_mobile.png);
    background-size: cover;
    background-repeat: no-repeat; }

  .hide_on_mobile {
    display: none; }

  .hide_on_desktop {
    display: flex; } }
@media screen and (max-width: 900px) {
  .hide_on_mobile_and_tablets {
    display: none; }

  .polygonbox {
    max-width: 122vh; }

  .polygons {
    max-width: 300px; } }
@media screen and (min-width: 601px) and (max-width: 899px) {
  #polygon4 {
    transform: translate(0%, -25%) !important; } }
@media screen and (min-width: 601px) {
  main {
    background: url(../images/image_home.jpg);
    background-size: cover;
    background-repeat: no-repeat; }

  main section .polygonbox svg {
    transform: rotate(0); }

  .polygons {
    transform: translate(0%, 0%) !important; }

  #basicfooter {
    display: flex; } }
@media screen and (min-width: 901px) {
  .hide_on_mobile_and_tablets {
    display: flex;
    transform: translate(50%, -25%) !important; } }
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .polygonbox {
    max-width: 90%; }

  .polygons {
    width: 26%; } }
@media screen and (min-width: 1200px) {
  .polygonbox {
    max-width: 967px; }

  .polygons {
    max-width: 243px; } }

/*# sourceMappingURL=index.css.map */
